<main>
<div class="w3-card w3-round w3-white">
  <div class="w3-container">
    <h4 class="w3-center">{{name}} {{surname}}</h4>
    <p class="w3-center">
      <img *ngIf="avatar!=null" src="{{avatar}}" class="w3-circle" style="height:150px;width:150px" alt="Avatar"></p>
      <img *ngIf="avatar==null" src="../assets/NotFoundPhoto.png" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
    <hr>
    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> {{nickname}}</p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{city}}</p>
    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{birthdate}}</p>
    <p><i class="fa fa-venus-mars fa-fw w3-margin-right w3-text-theme" aria-hidden="true"></i> {{sex}}</p>
  </div>
</div>
  <div class = "entry-post">
    <textarea rows="5" cols="47" class="entry" placeholder="enter" [(ngModel)]="post"></textarea><br>
    <button type="button" class="btn btn-primary-outline" (click)="onClick()">Отправить</button>
    </div>
    <div class = "posts" *ngFor="let post of posts">
      <ul>
      <li><i class="fa fa-lightbulb-o w3-text-theme" aria-hidden="true"></i>
        {{post.text}}</li>
      </ul>
  </div>

</main>
