
<div class="content">
</div>
<footer id="myFooter">
  <div class="container">
  </div>
  <div class="footer-social">
    <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
    <a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
    <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
