$color-header: #dcdcdc
$color-caption:#e33f0e
*
  margin: 0
  padding: 0
header
  background-color: $color-header

img
  height: 150px
  margin-left: 150px
//nav
//  text-align: right
//  padding-right: 300px
//  font-family: 'Cambo', serif
//  float: right
//  margin-top: 120px
//  li
//    display: inline-block
//    border-right: solid 2px $color-caption
//    padding-right: 10px
//    margin-bottom: 5px
//    &:hover
//      color: $color-caption
//    &:last-child
//      border-right: none
