<app-menu></app-menu>
<div class = "setting">
  <label>Name</label>
  <input class = "change-name form-control underlined" type="text" [(ngModel)]="name"/><br>
  <label>Surname</label>
  <input class = "change-surname form-control underlined" type="text" [(ngModel)]="surname"/><br>
  <label>Nickname</label>
  <input class = "change-nickname form-control underlined" type="text" [(ngModel)]="nickname"/>

  <button class="btn btn-default btn-lg" id ="save" (click)="onSave() ">Сохранить</button>

  <input  type="file"  (change)="fileChange($event)" />
  <img id='output' src="{{bfn}}">
</div>
