<label>Name</label>
<input class = "change-name" type="text" [(ngModel)]="name"/><br>
<label>Surname</label>
<input class = "change-surname" type="text" [(ngModel)]="surname"/><br>
<label>Nickname</label>
<input class = "change-nickname" type="text" [(ngModel)]="nickname"/>

<form enctype="multipart/form-data" method="post">
  <p><input id="filein" type="file" name="f">
    <input type="submit" value="Отправить" (click)="onSaveImg()"></p>
</form>

<button id ="save" (click)="onSave()">Сохранить</button>
