$color-header: #dcdcdc
$color-caption:#e33f0e

.aboutMe
  display: flex
  height: 400px
  padding-top: 50px
  justify-content: center
  width: 900px
  margin: 0 auto
  hr
    color: $color-caption
    border: none
    background-color: $color-caption
    height: 2px
    width: 40px
    margin-bottom: 5px
    margin-left: 0
    margin-top: 0
  img
    width: 450px
  .description
    width: 450px
    background-color: $color-header
    padding-left: 15px
    padding-top: 10px
    font-weight: bold
    font-size: 20px
  h2
    color: $color-caption
    font-family: 'Cambo', serif
    font-size: 25px
    margin: 0
  p
    margin: 0


