<header>
  <h1>Name Surname</h1>
  <h3>Profession, Country</h3>
  <nav>
    <ul>
      <li>Home</li>
      <li>Messages</li>
      <li>Gallery</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
<main>
  <div class="aboutMe">
    <img src="../assets/face.png">
    <div class = "description">
      <h2>About me</h2>
      <p>Text</p>
    </div>
  </div>
</main>
<footer>
  <div class="follow">
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
  </div>
</footer>

