<header>
  <div class="name">
  <h1>Name Surname</h1>
  <h3>Profession, Country</h3>
  </div>
  <nav>
    <ul>
      <li>Home</li>
      <li>Messages</li>
      <li>Gallery</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
<main>
  <div class="aboutMe">
    <img src="../assets/girl.png">
    <div class = "description">
      <h2>About me</h2><hr>
      <p>Text</p>
    </div>
  </div>
  <div class ="container">
    <div class = "friend col">
      <h3>My friends</h3><hr>
    </div>
    <div class = "group col">
      <h3>My groups</h3><hr>
    </div>
    <div class = "wall col">
      <h3>My wall</h3><hr>
    </div>
  </div>
</main>
<footer>
  <div class="follow">
    <p>Follow me</p>
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
  </div>
</footer>

