$color-header: #dcdcdc
$color-caption:#e33f0e
$color-main:#f9f6f6

*
  margin: 0
  padding: 0

header
  background-color: $color-header
  height: 100px
  .name
    padding-left: 50px
    padding-top: 10px
    font-family: 'Cambo', serif

nav
  text-align: right
  padding-right: 300px
  font-family: 'Cambo', serif
  li
    display: inline-block
    border-right: solid 2px $color-caption
    padding-right: 10px
    &:hover
      color: $color-caption
    &:last-child
      border-right: none

main
  background-color: $color-main
  font-family: 'Open Sans Condensed', sans-serif


  h2,h3
    color: $color-caption
    font-family: 'Cambo', serif
    font-size: 25px
  hr
    color: $color-caption
    border: none
    background-color: $color-caption
    height: 2px
    width: 40px
    margin-top: 5px
    margin-bottom: 5px
  .aboutMe
    display: flex
    height: 400px
    padding-top: 50px
    justify-content: center
    width: 900px
    margin: 0 auto
    img
      width: 450px
    .description
      width: 450px
      background-color: $color-header
      padding-left: 15px
      padding-top: 10px
      font-weight: bold
      font-size: 20px
  .container
    display: flex
    height: 500px
    justify-content: space-between
    padding-top: 50px
    width: 900px
    margin: 0 auto
    padding-bottom: 50px
    .col
      width: 280px
      background-color: $color-header
      padding-left: 15px
      padding-top: 10px

footer
  background-color: $color-header
  height: 100px
  font-family: 'Cambo', serif
  li
    display: inline-block
  .follow
    text-align: right
    padding-right: 300px
    padding-top: 10px








