<main>
  <div *ngIf="chatUserIsNoCurrentUser()" class = "user-container">
    <div class = "user">
      <img class="img-circle"  *ngIf="chatUser.avatar!=null"src="{{chatUser.avatar}}" style="width: 50px;height: 60px">
      <img class="img-circle" *ngIf="chatUser.avatar==null"src="../assets/NotFoundPhoto.png" style="width: 50px;height: 60px">
      {{chatUser.name}}
      {{chatUser.surname}}
    </div>
    <!--<a routerLink="/chat-page" (click)="onOpenClick()">-->
      <!--Открыть переписку-->
    <!--</a>-->
    <button type="button" class="btn btn-primary-outline" routerLink="/chat-page" (click)="onOpenClick()">
      Открыть
    </button>
  </div>
</main>

