<div id ="win" class="alert alert-success" style="display: none">
  Сообщение отправлено успешно.
</div>
<div  *ngIf="chatUserIsNoCurrentUser()" class = "user-container">
  <div class = "user">
    <a routerLink="/users-page" (click)="routerLinkClick()">
      <img class="img-circle" *ngIf="people.avatar!=null"src="{{people.avatar}}" style="width: 60px;height: 60px">
      <img class="img-circle" *ngIf="people.avatar==null"src="../assets/NotFoundPhoto.png" style="width: 50px;height: 60px">
      {{people.name}}
      {{people.surname}}
    </a>
  </div>
  <a *ngIf ="writeBtnShow" id = "btn-send" class="button-send" (click)="onWriteClick()">
    <!--<span class="glyphicon glyphicon-envelope"></span>-->
    <i class="fa fa-envelope" aria-hidden="true"></i>

  </a>
  <div id ="{{people.email}}" class = "opn">
    <textarea rows="5" cols="40" id = "msg-txt" [(ngModel)]="text"></textarea><br>
    <button type="button" class="btn btn-primary-outline" (click) = "onSendClick()">
      Отправить
    </button>
    <button type="button" class="btn btn-primary-outline" (click)="onCancelClick()">
      Отмена
    </button>
  </div>
</div>

