<div id ="win" class="alert alert-success" style="display: none">
  Сообщение отправлено успешно.
</div>
<div class = "user-container">
  <div class = "user">
    <a routerLink="/users-page" (click)="routerLinkClick()">{{people.name}} {{people.surname}}</a>
  </div>
  <button *ngIf ="writeBtnShow" id = "btn-send" class="button-send" (click)="onWriteClick()">
  Написать
  </button>
  <div id ="{{people.email}}" class = "opn">
    <textarea id = "msg-txt" [(ngModel)]="text"></textarea><br>
    <button (click) = "onSendClick()">
      Отправить
    </button>
    <button (click)="onCancelClick()">
      Отмена
    </button>
  </div>
</div>

<!--<mat-checkbox></mat-checkbox>-->
<!--<mat-list>-->
  <!--<mat-list-item> Pepper </mat-list-item>-->
  <!--<mat-list-item> Salt </mat-list-item>-->
  <!--<mat-list-item> Paprika </mat-list-item>-->
<!--</mat-list>-->

